body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Remplacez par le chemin de votre image de fond */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

.upload-container {
    margin-bottom: 20px;
}

#file-input {
    display: none;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#uploaded-image {
 max-width: 300px; /* Taille maximale de l'image */
    height: auto;
    margin: 20px auto 0 auto; /* Centrer l'image horizontalement */
    display: block; /* Pour centrer avec margin auto */
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
